<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularsrc")
    @Scripts.Render("~/bundles/angularModules")
    <base href="/" />
    
</head>
<body  style=" background: url('Content/themes/images/tachush13.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
